*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
html{
  direction: rtl;
}
@font-face {
  font-family: "yekan_bakh_bold";
  src: url("../../fonts/Fa/yekan-bakh/yekanBakh-bold.ttf");
}
@font-face {
  font-family: "yekan_bakh_medium";
  src: url("../../fonts/Fa/yekan-bakh/yekanBakh-medium.ttf");
}
@font-face {
  font-family: "yekan_bakh_regular";
  src: url("../../fonts/Fa/yekan-bakh/yekanBakh-regular.ttf");
}
@font-face {
  font-family: "futura medium bt";
  src: url("../../fonts/En/Futura/futura medium bt.ttf");
}
svg{
  transition: all 300ms linear;
}
.svgCommon{
  fill: #F1F1F2;
  transition: all 300ms linear;
  &:hover{
    fill: #AE8649;
  }
}
@import "MenuFa";
@import "SliderFa";
@import "CategoryFa";
@import "ServiceFa";
@import "FaqFa";
@import "TeamFa";
@import "FooterFa";
@import "ProjectsFa";
@import "DetailsFa";
@import "BlogFa";
@import "CommentsFa";
@import "ContactFa";
@import "FormFa";
@import "preloader";
@import "DetailsBf";
