/*@tailwind base;*/
@tailwind components;
@tailwind utilities;
@layer utilities {
    .teamLightBg{
        background: linear-gradient(to top, #B6915A -10.23%, rgba(192, 160, 112, 0) 44.36%);
    }
    .teamDarkBg{
        background: linear-gradient(to top, rgba(182, 145, 90, 0.45) -10.23%, rgba(192, 160, 112, 0) 44.36%);
    }
    .projectsLightBg{
        background: linear-gradient(to top, #B6915A 0%, rgba(188, 154, 102, 0.79) 4.84%, rgba(190, 156, 107, 0.56) 6.83%, rgba(192, 160, 112, 0) 10.05%);
    }
    .projectsDarkBg{
        background: linear-gradient(to top, rgba(182, 145, 90, 0.45) 0%, rgba(188, 154, 102, 0.17) 4.84%, rgba(190, 156, 107, 0.0940177) 6.83%, rgba(192, 160, 112, 0) 10.05%);
    }
    .bfLightBg{
        background: linear-gradient(180deg, #B6915A 0%, rgba(192, 160, 112, 0) 87.29%);
    }
    .bfBDarkBg{
        background: linear-gradient(180deg, rgba(182, 145, 90, 0.45) 0%, rgba(192, 160, 112, 0) 87.29%);
    }
    .lpLightBg{
        background: linear-gradient(180deg, #B6915A 0%, rgba(192, 160, 112, 0) 87.29%);
    }
    .lpDarkBg{
        background: linear-gradient(180deg, rgba(182, 145, 90, 0.45) 0%, rgba(192, 160, 112, 0) 87.29%);
    }
    .IconLight{
        filter: brightness(0);
    }
    .IconDark{
        filter: brightness(100%);
    }
    .MenuBgLight{
        background: rgba(149, 149, 149, 0.47);
    }
    .menuBgDark{
        background: rgba(14, 14, 14, 0.5)
    }
    .commentBgLight{
        backdrop-filter: opacity(0);
    }
    .mapDark{
        filter: invert(100%);
    }
    .svgLight{
        fill:#AE8649 ;
    }
    .svgLightHover{
        fill: #1D1D1D;
    }
    .svgDark{
        fill: #AE8649;
    }
    .svgDarkHover{
        fill: #F1F1F2;
    }
    .svgOption{
        fill: #1D1D1D;
    }
    .svgOptionDark{
        fill: #F1F1F2;
    }
    .svgOptionHover{
        fill: #AE8649;
    }
}
